<h1>Liste des jeux</h1>

<div class="container">
  <div class="row">
    <div *ngFor="let jeu of jeux$ | async" class="col s6 m4">
      <div class="card horizontal">
        <div class="card-image">
          <img [src]="jeu.url_media" style="width: 20px">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{ jeu.nom }}</p>
            <p>{{ jeu.theme }}</p>
            <p>{{ jeu.duree }}</p>
            <p>{{ jeu.nombre_joueurs }}</p>
            <p>{{ jeu.age }}</p>
            <button class="accent-1" (click)="jeuSelectionne(jeu)">Plus d'infos</button>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<h1>Filtrage</h1>
<form [formGroup]="formulaire" (ngSubmit)="onSubmit()">
  Nombre de joueur :
  <label for="jeu" class="p-sr-only">Jeu</label>
  <select id="jeu" formControlName="nombreJoueurs">
    <option *ngFor="let j of (jeux$ | async)" [value]="j.nombre_joueurs"> {{ j.nombre_joueurs}} </option>
  </select>
  <br/>
  <button pButton class="accent-1" type="submit" label="Filtrer" [disabled]="!formulaire.valid" (click)="showDiv()">Filtrer</button>
</form>

<div id ="filtre" class="container" style="display:none">
  <div class="row">
    <div *ngFor="let jeu of jeux$ | async" class="col s6 m4">
      <div *ngIf="jeu.nombre_joueurs <= nbrJoueur;then contenu"></div>
      <ng-template #contenu>
        <div class="card horizontal">
          <div class="card-image">
            <img [src]="jeu.url_media" style="width: 20px">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>Nom du jeu : {{ jeu.nom }}</p>
              <p>Thème du jeu : {{ jeu.theme_id.nom }}</p>
              <p>Durée du jeu : {{ jeu.duree }}</p>
              <p>Nombre de joueur : {{ jeu.nombre_joueurs }}</p>
              <p>Âge minimum recquis : {{ jeu.age }}</p>
              <button class="accent-1" (click)="jeuSelectionne(jeu)">Détails</button>
              <br>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>






