.card{
  border: #003399 solid 2px;
  border-radius: 5px;
  right: 10%;
  width: 20%;
  margin: 2%;
  display: block;
  float: left;
  padding: 5px;
}

.card-image{
  text-align: center;
}

.card-stacked{
  margin-left: 10%;
}

.accent-1{
  background-color: #003399;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.accent-1:hover{
  background-color: white;
  color: #003399;
  font-weight: bold;
}
.card-content{
  color: #003399;
  font-family: Arial, sans-serif;
}
h1{
  color: #003399;
}

form{
  margin: 10%;
}

