<p-card>
  <div class="p-mb-3 p-text-bold" id ="intro">Connectez-vous ici : </div>
  <hr>
  <div class="p-fluid">
      <form [formGroup]="formulaire" (ngSubmit)="onSubmit()">
        <div class="p-field">
          <span>Email : </span> <input type="text" formControlName="email">
    </div>
    <div class="p-field">
      <span>Mot de passe : </span><input type="password" formControlName="password">
      <br>
        <button [disabled]="!formulaire.valid">Valider</button>
    </div>
      </form>
  </div>
</p-card>

<img class="img" src="../assets/logo.png"/>

