<form [formGroup]="formulaire" (ngSubmit)="onSubmit()">

<div *ngFor="let jeux of liste">
  <p-panel>
    <ng-template pTemplate="header">
      Nom : {{jeux.jeu.nom}}
    </ng-template>
    Description : {{jeux.jeu.description}}<br>
    Thèmes : {{jeux.jeu.theme}}<br>
    Catégorie : {{jeux.jeu.categorie}}<br>
    Age : {{jeux.jeu.age}}<br>
    Durée : {{jeux.jeu.duree}}<br>
    Nombre de joueurs : {{jeux.jeu.nombre_joueurs}}<br>
    Poids : {{jeux.jeu.poids}}<br>
    <ng-template pTemplate="footer">
      {{jeux.lieu}}<br>
      {{jeux.date_achat}}<br>
      {{jeux.prix}}€
    </ng-template>
  </p-panel>
  <input type="checkbox" (click)="mettre(jeux.jeu.nom, jeux.jeu.id, jeux.jeu.poids)" id="{{jeux.jeu.nom}}" name="{{jeux.jeu.nom}}">
  <label for="{{jeux.jeu.nom}}">Transmettre</label>
  {{this.formulaire.addControl(jeux.jeu.nom, this.validateur)}}
</div>
  <p>Poids maximale en envoie sécurisé : 50</p>
  <p>Poids Actuelle : {{poidsActuelle}}</p>
  <p>Poids Totale : {{poidsTotal}}</p>
<button checked (click)="display()">Transmettre</button>

  <p>Liste de Jeux à transmettre : {{disp}}</p>

  <p>Liste de jeux à transmettre de manière sécurisé : {{affichage}}</p>
  <p>Poids total du colis : {{poidsColis}}</p>
</form>


