<h1>Les 5 meilleurs jeu de notre ludothèque</h1>

<div class="container">
  <div class="row">
    <div *ngFor="let jeu of jeux$ | async; let i=index" class="col s6 m4">
      <div *ngIf="i<5" class="card horizontal">
        <div class="card-image">
          <img [src]="jeu.url_media" style="width: 20px">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>top {{i+1}}</p>
            <p>{{ jeu.nom }}</p>
            <p>{{ jeu.theme }}</p>
            <p>{{ jeu.duree }}</p>
            <p>{{ jeu.nombre_joueurs }}</p>
            <p>{{ jeu.age }}</p>
            <button class="accent-1" (click)="jeuSelectionne(jeu)">Plus d'infos</button>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
