<div *ngIf="(jeux$ | async) as jeu" class="row">
  <div class="col s12 m8 offset-m2">
    <h2 class="header center">{{ jeu.nom }}</h2>
    <div class="card horizontal hoverable">
      <div class="card-image">
        <img [src]="jeu.url_media">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped">
            <tbody>
            <tr>
              <td>Id</td>
              <td><strong>{{ jeu.id }}</strong></td>
            </tr>
            <tr>
              <td>Nom</td>
              <td><strong>{{ jeu.nom }}</strong></td>
            </tr>
            <tr>
            <tr>
              <td>Thème</td>
              <td><span>{{ jeu.theme_id.nom }}</span></td>
            </tr>
            <tr>
              <td>Description</td>
              <td><span>{{ jeu.description }}</span></td>
            </tr>
            <tr>
              <td>Catégorie</td>
              <td><strong>{{ jeu.categorie}}</strong></td>
            </tr>
            <tr>
              <td>Regles</td>
              <td><strong>{{ jeu.regles}}</strong></td>
            </tr>
            <tr>
              <td>Langue</td>
              <td><strong>{{ jeu.langue}}</strong></td>
            </tr>
            <tr>
              <td>Age minimum</td>
              <td><strong>{{ jeu.age }} ans</strong></td>
            </tr>
            <tr>
              <td>Nombre de joueurs</td>
              <td><strong>{{ jeu.nombre_joueurs }} joueurs</strong></td>
            </tr>
            <tr>
              <td>Poids</td>
              <td><strong>{{ jeu.poids }} kg</strong></td>
            </tr>
            <tr>
              <td>Durée</td>
              <td><strong>{{ jeu.duree }}</strong></td>
            </tr>
            <tr>
              <td>Editeur</td>
              <td><strong>{{ jeu.editeur_id.nom }}</strong></td>
            </tr>
            <!--<tr>
              <td>Editeur</td>
              <td>
                <div *ngFor="let unEditeur of jeu.editeur_id.nom">
                  <strong>{{ unEditeur }}</strong>
                </div>
              </td>
            </tr>-->
            </tbody>
          </table>
        </div>
        <div class="card-action">
          <button class="accent-1" (click)="goBack()">Retour</button>
        </div>
      </div>
    </div>
  </div>
</div>
<h4 *ngIf='!jeux$' class="center">Aucun détail de jeu à afficher !</h4>
